#card{
    border: 2px solid gray;
    height: 400px;
    width: 225px;
    /* margin-right: 20px;
    margin-bottom: 20px; */
    background-image: linear-gradient(to right, rgba(243, 210, 24, 0.79) , rgb(88, 86, 86));
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}

.head_tag{
    margin-top: 5px;
    border: 2px solid gray;
    background-color : black;
    color:white;
    text-align: center;
    height: 40px;
}

label{
    color: white;
    font-size: smaller;
    text-align: center;
    margin-left: 30px;
    margin-bottom: 2px;
}

#btn{
    margin-top: 20px;
    margin-left: 25px;
    background-color: transparent;
    border: 2px solid white;
}
#btn:hover{
    background-color:deepskyblue;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#btn:active{
    background-color:cyan;
}

img{
    width:200px ;
    border: 2px solid gray;
    margin-bottom: 20px;
}

body{
    background-color:rgba(24, 24, 24, 0.903);
}


.row{
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;
    justify-content: center;
    gap: 20px;
}
